@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

html {
  font-family: 'Dosis', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
